body {
    height: 100dvh;
    display:flex;
    flex-direction:column;
    justify-content: center;
    background-color:antiquewhite !important;
}
#nav-wrapper{
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
    border: 1px solid black;
    background-color: darkred;
}

#menu-container {
    height: 80%;
    width: 90%;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0 0 15px #333;
    overflow-y: auto;
    padding-top: 12px;
    background-color: white !important;
}

#menu {
    display: flex;
}

#menu-container::-webkit-scrollbar {
    display:none;
}

.card {
    margin-bottom: 12px !important;
}

.card-img-top {
    height: 250px;
}

.card-body {
    overflow-y: scroll;
}
.card-body::-webkit-scrollbar {
    display:none;
}

.card-text {
    height:86px;
    overflow-y: scroll;
    font-family:'segoe UI';
    border: 1px dashed gray;
    padding: 5px;
    border-radius:3px;
}

.card-text::-webkit-scrollbar {
    display:none;
}

.float-right {
    float: right;
}

#review-order{
    height: 100%;
}

#logo {
    float: left;
    height:90px;
    width:90px;
}

#restaurant-name{
    float:right;
    margin-top:10px;
}

.empty-order-msg{
    text-align:center;
    padding: 25px;
}